.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.table__column {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  background-color: #5356f1;
  color: #ffffff;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
}

.input {
  width: 220px;
  height: 40px;
  border: 1px solid #646464;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
}

.filter {
  width: 260px;
  height: 40px;
  border: 1px solid #646464;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
}

.input:not(:first-child),
.table__column:not(:first-child) {
  margin-left: 10px;
}

.button {
  width: 220px;
  height: 40px;
  background-color: #1f21a5;
  color: #ffffff;
  border-radius: 5px;
}
